%p
  %b Name:
  = @device.name
%p
  %b Kind:
  = @device.kind
%p
  %b Product:
  = @device.product.name
%p
  %b Site:
  = @device.site.name

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
