%h1 Listing rings

%table
  %tr
    %th Name
    %th Number
    %th
    %th
    %th

  - @rings.each do |ring|
    %tr
      %td= ring.name
      %td= ring.number
      %td= link_to 'Show', ring
      %td= link_to 'Edit', edit_ring_path(ring)
      %td= link_to 'Destroy', ring, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Ring', new_ring_path
