!!!
%html
  %head
    %title OMG
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      - if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, method: :delete
        %br
        %br
        %h2 Menu
        = link_to "Rings", rings_path
        %br
        = link_to "Manufacturers", manufacturers_path
        %br
        = link_to "Products", products_path
        %br
        = link_to "Sites", sites_path
        %br
        = link_to "Devices", devices_path
        %br
        %br
      = yield
